.main-header {
	padding-bottom: 50px;
}

.main-header__title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	margin-top: 50px;
}

.showcase {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.product {
	display: inline-block;
	max-width: 340px;
	padding: 20px;
}

.product__header-img,
.product__thumbnail {
	display: block;
	width: 100%;
}

.product__preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 30px;
}

.product__button {
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0 40px;
	/* width: 200px; */
}